In [ ]:
greet = lambda : print("hello world")

In [ ]:
greet()

In [ ]:
sum = lambda a,b:a+b

In [ ]:
sum(b=2,a=3)

In [ ]:
lam_fun = lambda a,b,c:"first is greater" if a>b==0 else "second one is greater"

In [ ]:
products = [
    {"name":"product1","price":50},
    {"name":"product2","price":40},
    {"name":"product3","price":30},
    {"name":"product4","price":20},
    {"name":"product11","price":20}
]
products1 = [3,4,6,8,7,2,1]
#print(type(products))

sorted_products = sorted(products1)
for i in sorted_products:
    print (i)

In [ ]:
volwels = ['a','e','i','o','u']
chk = lambda char: "true" if(char in volwels) else "false"

In [ ]:
chk("d")

In [ ]:
lst = [1,2,3,4,5,6,7,8]
f = ['two' if x%2==0 else 'three' elif x%3==0 else 'not 2 & 3' for x in lst]
f

In [ ]:
def test14 (a,b):
    return a+b

test14(5,6)

In [ ]:
m = lambda a,b : a+b
m(3,4)

In [ ]:
even_odd = lambda num : "number is even" if(num%2==0) else "number is odd"

In [ ]:
even_odd(2)

In [ ]:
l1 = [3,4,5,6]
l2 = [5,76,2]
min_element = lambda list1,list2 : min(list1,list2)

min_element(l1,l2)

In [ ]:
people = [
    {'name': 'Alice', 'age': 28},
    {'name': 'Bob', 'age': 35},
    {'name': 'Charlie', 'age': 23}
]

youngest_person = min(people, key=lambda person: person['age'])
print("Youngest person:", youngest_person['name'])  # Output: Youngest person: Charlie

In [ ]:
people = [
    {'name': 'Alice', 'age': 28},
    {'name': 'Bob', 'age': 35},
    {'name': 'Charlie', 'age': 23}
]

shortest_name_person = min(people, key=lambda person: len(person['name']))
shortest_name = shortest_name_person['name']

print("Person with the shortest name:", shortest_name)

In [ ]:
def fact_number(n):
    if n==0:
        return 1
    else:
        return n*fact_number(n-1)

In [ ]:
fact_number(3)

In [ ]:
fact_num = lambda n : 1 if n==0 else n*fact_num(n-1)

In [ ]:
fact_num(3)

In [ ]:
l2 = ["avinash","rai"]
list (map(len,l2))

In [ ]:
l2 = ["avinash","rai"]
#print(list(map(reversed,l2)))
list(map(lambda x: ''.join(reversed(x)), l2))

In [2]:
l = [2,3,4]
from functools import reduce
reduce(lambda a,b : a+b,l,5)

14

In [3]:
reduce(lambda a,b : a if a<b else b ,l)

2

In [ ]:
str1 = "avinash"
''.join(reversed(str1))

In [5]:
n=4
fact = reduce(lambda a,b:a*b, range(1,n+1))

In [6]:
fact

24

In [7]:
def test12(a,b):
    return a*b
fact1 = reduce(test12,range(1,n+1))

In [8]:
fact1

24

In [ ]:
l =[3,4,5,6,7,8,9]

In [50]:
list( filter (lambda a : a%2==0, l))

[4, 6, 8]

In [54]:
l = ["pw", "skills","avinash"]
list(filter(lambda a : a.startswith('a'),l))

['avinash']

In [10]:
def gen_fib(n):
    if n<=1:
        return n
    else:
        return gen_fib(n-1) + gen_fib(n-2)
gen_fib(3)

2

In [11]:
def sum_numbers(n):
    if(n==1):
        return 1
    else:
        return n+sum_numbers(n-1)
sum_numbers(5)

15